.btn {
  font-size: 18px;
  margin: 0 5px;
  padding: 10px;
  background-color: #5B5B5B;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btns {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}