.formSection {
  background: #CCB2A3;
  padding: 30px 0;
  background-image: url('../../assets/formImage.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 38% center;
  margin-bottom: 150px;

  @media (max-width: 1024px) {
    background-image: none;
  }
}

.bgImage {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: end;

  @media (max-width: 1024px) {
    justify-content: center;
  }
}