.slider {
  margin-bottom: 160px;

  @media (max-width:768px) {
    margin-bottom: 90px;
  }

  :global(.slick-dots) {

    li button::before {
      font-size: 12px;
      color: rgba(255, 150, 25, 1);
    }

    .slick-active {
      color: rgba(255, 150, 25, 1);
    }

    @media (max-width:768px) {
      position: absolute;
      bottom: 10px;
    }
  }
}